.classDetailWrap {
    width: 100%;
}

.detailHeader {
    width: 100%;
    height: 7vh;
    margin-bottom: 8vw;
    display: flex;
    align-items: center;
}

.detailHeaderWrap {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10vw 0vw 5vw 5vw;
    gap: 4vw;
}

.detailHeaderWrap h2 {
    width: 45%;
    font-weight: 600;
    font-size: 4.5vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detailHeaderWrap img {
    height: 7vw;
    cursor: pointer;
}

.back {

}

.iconWrap {
    display: flex;
    align-items: center;
    gap: 5vw;
}

.heart {

}

.share {

}

.more {

}

.selectArea {
    width: 100%;
    height: 8vw;
    margin-bottom: 3px;
}

.selectAreaInner {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.selectItem {
    width: 33.3%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.selectItem p {
    font-size: 14px;
    font-weight: 600;
}

.border {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.borderInner {
    position: absolute;
    left: 0;
    width: 25%;
    height: 3px;
    background: #333;
    transition: 0.3s ease;
}

.mainSwiperSection {

}

.classBackground {
    width: 100%;
    height: 30vh;
    background: #d7e0e6;
    margin-bottom: 3vw;
}

.classBackground img {
    width: 100%;
    height: 100%;
}

.tags {
    padding: 0 5vw;
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    margin-bottom: 3vw;
}

.tagsItem {
    background: #f1f1f1;
    padding: 1vw 2vw;
    border-radius: 20px;
    font-size: 3vw;
    color: #333;
}

.descArea {
    padding: 0 5vw;
}
