.headerWrap {
    width: 100%;
    height: 15vw;
    padding: 5vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8vw;
}

.headerLeft {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLeftText {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.headerRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notiImg {
    height: 6vw;
    cursor: pointer;
}