.pcWrap {
    width : 100%;
    height : 100vh;
    position : relative;
}

.pcWrapInner {
    width : 100%;
    text-align : center;
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    font-size: 24px;
}

.mainPageWrap {
    width: 100%;
    height: 75vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
}

.signUpPageWrap {
    width: 100%;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
}

.mainPageLogo {
    width: 100%;
}

.signUpPageLogo {
    height: 15vw;
}

.inputArea {
    width: 100%;
}

.findArea {
    width: 100%;
    height: 10px;
}

.signupArea {
    width: 100%;
}

.signupAreaInner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #1877f2;
}

.signupAreaInner span {
    text-decoration: underline;
    cursor: pointer;
}