.classWrap {
    padding: 0 5vw;
    margin-bottom: 5vw;
}

.titleText {
    font-weight: 600;
}

.userClassWrap {
    padding: 0 2vw;
    margin-bottom: 6vw;
}

.suggestionPadding {
    padding: 0 2vw;
}

.slideWrap {
    padding: 3vw 5vw;
    margin-bottom: 4vw;
}